body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dl,
dd {
  margin: 0;
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-banner {
  background-color: #ffb6b9; 
  color: #f9fcfb;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.calc {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  width: 50vw;
  height: 70vh;
  padding: 1.3em; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

.screen {
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  width: 100%;
  height: 15vh;
}

.buttons {
  //border: 1px solid #d9d9d9;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  //margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  border: none;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 0.35em;
  width: 6em;
  height: 3em;
  cursor: pointer;
}

.buttons button:first-child {
  word-spacing: 2.0em;
  width: 13em;
  height: 3em;
}

